################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Escapade/Services/Interfaces/Service.cs
/Escapade/Services/Interfaces/IService.cs
/Escapade/Repositories/Interfaces/Repository.cs
/Escapade/Repositories/Interfaces/IRepository.cs
