################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Escapade/Services/Interfaces/Service.cs
/Escapade/Services/Interfaces/IService.cs
/Escapade/Repositories/Interfaces/Repository.cs
/Escapade/Repositories/Interfaces/IRepository.cs
/Escapade/firebase-config.json
/Escapade.Api/firebase-config.json
/Escapade.Api/local.settings.json
/Escapade/local.settings.json
Escapade.Api/bin/Debug/net6.0/local.settings.json
