<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctionescapade20231119213433.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8b646bee-65c2-4bee-89e3-d6d99de6e33f/resourcegroups/azuretestv31/providers/Microsoft.Web/sites/AzureFunctionEscapade20231119213433</ResourceId>
    <UserName>$AzureFunctionEscapade20231119213433</UserName>
    <_SavePWD>true</_SavePWD>
    <ApiResourceId>/subscriptions/8b646bee-65c2-4bee-89e3-d6d99de6e33f/resourceGroups/azuretestv31/providers/Microsoft.ApiManagement/service/EscapadeM2Api/apis/AzureFunctionEscapade</ApiResourceId>
    <PublishUrl>https://azurefunctionescapade20231119213433.scm.azurewebsites.net/</PublishUrl>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>