<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://testescapdem2gi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/91b6b397-ee41-4681-84ee-16ac8f0de605/resourceGroups/Test/providers/Microsoft.Web/sites/testescapdem2gi</ResourceId>
    <UserName>$testescapdem2gi</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://testescapdem2gi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>